{% extends "base.twig" %}
{% block main %}
<div class="container marketing">
  <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron f5main">
      <h1>Lorax Bank <small>Welcome!</small></h1>

    </div>
    <div class="row">
      <div class="col-md-6">
	<h2>About</h2>
<p>
  Lorax Bank is a global investment holding company whereby its subsidiaries are involved in stock and share brokering, acting as agent and nominee for clients, corporate advisory services, fund management, and options brokering. It employs approximately 4,500 employees worldwide with nearly $3.2 billion in revenues and currently has about 550,000 clients.
  </p>
      </div>
      <div class="col-md-6">
	<img src="/images/lorax.jpg">
	<h6>Lorax Bank</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
	<h2>History</h2>
<p>Founded in 1967, they are headquartered in San Francisco, but they are decentralized so that regional Lorax Bank offices are headquarters for managing their own customers and helping them succeed financially. They have offices across the US, in Europe, the Middle East, India, and Australia.</p>
      </div>
      <div class="col-md-6">
	<h2>Services</h2>
<p>Lorax Finances provides savings accounts for its thousands of customer, with high-yield interest rates and excellent customer service.</p>

<p>Lorax Bank has a critical Internet presence across North America and internationally. A majority of their clients use Lorax’s multiple online applications to manage all aspects of their investments.</p>

They ranked fourth in assets and second in market value of their stock among their U.S. peers as of September 30, 2010.
      </div>
    </div>
</div>
{% endblock %}
