{% extends "base.twig" %}
{% block main %}
<div class="container">
   <div class="row">
    <div class="one-half column"><center><img alt="" src="/f5-demo-store/images/logo.svg" height="150" width="150" /></center></div>
    <div class="one-half column">     
    <h4>{{title}}</h4>
    <p>{{description|raw}}</p>
    <p><a href="../">Browse More</a></p>
    </div>


  </div> <!-- end row -->
</div>
{% endblock %}
